/* src/index.css */
:root {
  --primary-color: #000;  
  --secondary-color: #fff;  
  --accent-color: #007bff;  
  --background-color: #f8f9fa;  
  --text-color: #333;  
  --font-family: 'Arial', sans-serif;  

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}